<mat-toolbar color="primary" fxLayout="row column" fxLayoutAlign="space-between center">
    <span fxLayout="row column" fxLayoutAlign="start center">
        <img src="../assets/Spongebob-512.png" class="icon">
      Star Wars
    </span>
    <button type="button" mat-icon-button color="accent" (click)="back()"> 
        <mat-icon>backspace</mat-icon>
      </button>
</mat-toolbar>

<!-- swipping event in hammerjs -->
<mat-card class="card">
<mat-card-header>
<mat-card-title>{{people?.name}}</mat-card-title>
<mat-card-subtitle>
{{people?.birth_year}}
</mat-card-subtitle>
<img [src]="people?.image" mat-card-image>
<mat-card-content>
  Testing123
</mat-card-content>
<mat-card-actions>
  <button type="button" mat-icon-button color="primary" [disabled]="!canShare">Share</button>
</mat-card-actions>
</mat-card-header>

</mat-card>